*{
font-family : comic sans ms;
}

fieldset {

	background-color:#0000FF;
  height: 30%;
  width: 30%;
  padding:16px;
  border:2px solid yellow;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;	
  border-radius:8px;
  color:yellow;
  position: absolute;
    left: 32%;
    top:35%;
}

legend {

  font-size:200%;
  position: absolute;
  left:40%;
  top:0;
}

a{
  position:relative;
  top : 12%;
}
.input{
  width: 100%;
  position:relative;
  top:6%;
  margin-top: 5%;
  margin-bottom: 2.5%;
}

#logo{

  left:30%;
  top:-2%;
  position: absolute;

}

#create{
  position: absolute;
  top:95%;
  left:45%;
}

#valider{
  position: absolute;
  bottom:0%;
  left:40%;
  padding: 2.5%;
  padding-right:3%;
  padding-left: 3%; 
}

body {

  background-image: url('Images/170153');
  background-size: 100% 9200%;
}

