*{
	margin: 0px;
	padding: 0px;
	list-style: none;

}

#equipe{
	background-color: red;
	position: fixed;
	border-style: solid;
	height: 195px;
	width: 100px; 
	top: 200px;
	left: 705px;
}

#equipe li{
	margin-top:10px;
	margin-left: 10px;

}

#fenetre{
	background-image: url("../../img/back.gif");
	position: fixed;
	border-style: solid;
	display: block;
	height: 195px;
	width: 400px; 
	top: 200px;
	left: 300px;
}

#pokej{
	position: absolute;
	top:10%;
	left: 58%; 
}

#pokes{
	position: absolute;
	top: 10%;
	left: 5%; 
}



#textbox{
	background-color: white;
	border: thick double black;
	padding: 25px;
	position: fixed;
	height: 100px;
	width: 345px;
	top: 400px;
	left: 300px;
}

#cap *{
	padding: 0;
	border: none;
	background: none;
}

#cap{
	position: fixed;
	border-style: solid;
	top: 400px;
	left: 705px;
	height: 154px;
	width: 100px; 
}

#cap li{
	margin-top:10px;
	margin-left: 10px;
}

#pokeb{
	position: absolute;
	left: 20%;
	top: 220%;
	opacity: 0;
}

#pokeimg{
	position: absolute;
	left: 20%;
	top: 250%;

 	
 	-moz-animation: blink normal 0.5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 0.5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 0.5s infinite ease-in-out; /* IE */
    animation: blink normal 0.5s infinite ease-in-out; 
    animation-play-state: paused;
 	/*opacity: 1;*/
 	
  	/*animation-direction: alternate-reverse;  */
}

#pokeimgs{
	position: absolute;
	left: 20%;
	top: 250%;
	-moz-animation: blink normal 0.5s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 0.5s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 0.5s infinite ease-in-out; /* IE */
    animation: blink normal 0.5s infinite ease-in-out; 
    animation-play-state: paused;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
	/*animation-name: fade;
	animation-fill-mode: both;
  	animation-iteration-count: infinite;
 	 animation-duration: 0.5s;
 	animation-play-state: paused;
 	-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);*/
 	/*opacity: 1;*/
  	/*animation-direction: alternate-reverse;  */
}

/*@keyframes fade{
    100% {
      opacity: 0.40;
}
    0%,50%{
      opacity: 1;
  }
}*/


@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#myVideo {
  min-width: 406px; 
  min-height: 200px;
}

#healthj{
	position: absolute;

	box-sizing: border-box;

	
	


}
#healths{
	position: absolute;
}


progress {
  -webkit-appearance: none;
  border-radius: 10px;
}


progress::-webkit-progress-bar {
   background-color: transparent;
   border-radius: 2px;

}

progress::-webkit-progress-value {

	background-color: green;
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

h2{
	font-size: 15px;
}

.show {
  opacity: 1;
  transition: opacity 500ms;
}

.hide {
  opacity: 0.40;
  transition: opacity 500ms;
}